<div class="panel panel-default">
	<div class="panel-heading"><b>Transfer space</b></div>
	<div class="panel-body">

		<small>You can transfer this space to a member team account.</small>

		<%= form_for @space, url: '/' + param_user + '/' + @space.name + '/setting/transfer' do |f| %>
			<div class="form-group">

				<%= div_for(@space, class: 'form-group col-lg-6') do %>
					<label>Transfer to</label>
					<div>
						<select name="user_team_id">
							<option value="">Please select a member team</option>
							<%@teams.each do |team| %>
							<option value="<%= team.user_team_id %> "><%= user_email(team.user_team_id) %></option>
							<%end%>
						</select>
					</div>
				<%end%>

				<%= div_for(@space, class: 'form-group col-lg-9') do %>
					<%= submit_tag 'Transfer', class: 'btn btn-primary' %>
				<%end%>

			</div>
		<%end%>
	</div>
</div>
