<div class="with-gradient">
	<div class="started-session">
		<div class="row value-props">

			<div class="col-lg-4 text-center animated fadeInLeft">
				<%= icon(@descrips[0].icon , '', class: 'fa-3x') %>
				<h2 class="value-prop-heading"><%= @descrips[0].title%></h2>
				<p><%= raw @descrips[0].description%></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 text-center  animated fadeIn">
				<%= icon(@descrips[1].icon, '', class: 'fa-3x') %>
				<h2 class="value-prop-heading"><%= @descrips[1].title%></h2>
				<p><%= raw @descrips[1].description%></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 text-center animated fadeInRight">
				<%= icon(@descrips[2].icon, '', class: 'fa-3x') %>
				<h2 class="value-prop-heading"><%= @descrips[2].title%></h2>
				<p><%= raw @descrips[2].description%></p>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->
		<div class="row value-props">
			<div class="col-lg-4 text-center animated fadeInRight">
				<%= icon(@descrips[3].icon, '', class: 'fa-3x') %>
				<h2 class="value-prop-heading"><%= @descrips[3].title%></h2>
				<p><%= raw @descrips[3].description%></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 text-center animated fadeInRight">
				<%= icon(@descrips[4].icon, '', class: 'fa-3x') %>
				<h2 class="value-prop-heading"><%= @descrips[4].title%></h2>
				<p><%= raw @descrips[4].description%></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 text-center animated fadeInRight">
				<%= icon(@descrips[5].icon, '', class: 'fa-3x') %>
				<h2 class="value-prop-heading"><%= @descrips[5].title%></h2>
				<p><%= raw @descrips[5].description%></p>
			</div><!-- /.col-lg-4 -->

		</div><!-- /.row -->
	</div>
</div>
