<div class="with-gradient" id="faq">
	<div class="started-session">
		<div class="row value-props">
			<h1>WatchIoT FAQ</h1>
			<div id="faq-format">
				<ul class="col-lg-6 text-left">
					<li>
						<h3><%= @faqs[0].question%></h3>
						<p><%= raw @faqs[0].answer%></p>
					</li>

					<li>
						<h3><%= @faqs[1].question%></h3>
						<p><%= raw @faqs[1].answer%></p>
					</li>

					<li>
						<h3><%= @faqs[2].question%></h3>
						<p><%= raw @faqs[2].answer%></p>
					</li>

					<li>
						<h3><%= @faqs[3].question%></h3>
						<p><%= raw @faqs[3].answer%></p>
					</li>

          <li>
            <h3><%= @faqs[4].question%></h3>
            <p><%= raw @faqs[4].answer%></p>
          </li>
				</ul>

				<ul class="col-lg-6 text-left">

					<li>
						<h3><%= @faqs[5].question%></h3>
						<p><%= raw @faqs[5].answer%></p>
					</li>

					<li>
						<h3><%= @faqs[6].question%></h3>
						<p><%= raw @faqs[6].answer%></p>
					</li>

					<li>
						<h3><%= @faqs[7].question%></h3>
						<p><%= raw @faqs[7].answer%></p>
					</li>

          <li>
            <h3><%= @faqs[8].question%></h3>
            <p><%= raw @faqs[8].answer%></p>
          </li>

          <li>
            <h3><%= @faqs[8].question%></h3>
            <p><%= raw @faqs[8].answer%></p>
          </li>
				</ul>
				</div>
			</div>
		</div>
</div>
