<%= form_for @user, url: '/register' do |f| %>
<div class="form-group col-lg-6">
	<div class="panel panel-default">
	  <div class="panel-heading"><h4>Create Account</h4></div>
	  <div class="panel-body">
			<div class="form-group">
				<%= f.label :username %><br />
				<%= f.text_field :username, class: "form-control", placeholder: "username" %>
		  </div>
			<div class="form-group">
				<%= label_tag 'email' %>
				<%= email_field_tag(:email, nil, class: "form-control", placeholder: "email") %>
		  </div>
			<div class="form-group">
          <%= label_tag 'password' %>
          <%= f.password_field :passwd, class: "form-control",  placeholder: "password"%>
			</div>
			<div class="form-group">
				<%= f.submit "Create", class: "btn btn-primary btn-xl" %>
			</div>
			<div class="text-center">
				<%= link_to  'auth/github', class: "btn btn-link btn-xl", title: "Login With Github" do%>
						<i class="fa fa-github-square fa-4x"></i>
				<%end %>
			</div>
	  </div>
	</div>	
</div>
<% end %>
