<!-- include hero here if the page is index -->

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">WatchIoT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#get-started">Get Started</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faq">Faq</a>
                    </li>
                    <li>
                        <a href="<%= docs_url %>" target="_blank">Docs</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Monitor services, resources and devices</h1>
                <hr>
                <p>Send alerts and collect metrics about your Services, Resources and Device (<strong>IoT</strong>) in an easy way!</p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">Know more</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Stay alert and collect metrics about your assets</h2>
                    <hr class="light">
                    <p class="text-faded">
                      <strong>WatchIoT</strong> is a service in the cloud that provides the ability to monitor and collect metrics of your assets
                      (services, resources , devices (IoT), etc.) Verifying if the metrics obtained are into an accepted pattern and if they are not
                      <strong>WatchIoT</strong> provides the possibility to notify the anomaly in real time.
                    </p>
                    <a href="#get-started" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Brief about our services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= icon(@descrips[0].icon , '', class: 'fa-4x text-primary sr-icons') %>
                        <h3><%= @descrips[0].title%></h3>
                        <p class="text-muted"><%= raw @descrips[0].description%></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= icon(@descrips[1].icon , '', class: 'fa-4x text-primary sr-icons') %>
                        <h3><%= @descrips[1].title%></h3>
                        <p class="text-muted"><%= raw @descrips[1].description%></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= icon(@descrips[2].icon , '', class: 'fa-4x text-primary sr-icons') %>
                        <h3><%= @descrips[2].title%></h3>
                        <p class="text-muted"><%= raw @descrips[2].description%></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= icon(@descrips[3].icon , '', class: 'fa-4x text-primary sr-icons') %>
                        <h3><%= @descrips[3].title%></h3>
                        <p class="text-muted"><%= raw @descrips[3].description%></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside id="get-started" class="bg-primary">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Get Started!</h2>
                <a href="#" class="btn btn-default btn-xl sr-button">Sing in</a>
            </div>
        </div>
    </aside>

    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 text-center">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <h3><%= @faqs[0].question%></h3>
                        <p class="text-muted"><%= raw @faqs[0].answer%></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                      <h3><%= @faqs[1].question%></h3>
                      <p class="text-muted"><%= raw @faqs[1].answer%></p>
                    </div>
                </div>
              <div>
              <div class="col-lg-12 col-md-12 text-center">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                      <h3><%= @faqs[2].question%></h3>
                      <p class="text-muted"><%= raw @faqs[2].answer%></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                      <h3><%= @faqs[3].question%></h3>
                      <p class="text-muted"><%= raw @faqs[3].answer%></p>
                    </div>
                </div>
              <div>
              <div class="col-lg-12 col-md-12 text-center">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                      <h3><%= @faqs[4].question%></h3>
                      <p class="text-muted"><%= raw @faqs[4].answer%></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                      <h3><%= @faqs[5].question%></h3>
                      <p class="text-muted"><%= raw @faqs[5].answer%></p>
                    </div>
                </div>
              <div>
              <div class="col-lg-12 col-md-12 text-center">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                      <h3><%= @faqs[6].question%></h3>
                      <p class="text-muted"><%= raw @faqs[6].answer%></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                      <h3><%= @faqs[7].question%></h3>
                      <p class="text-muted"><%= raw @faqs[7].answer%></p>
                    </div>
                </div>
              <div>
              <div class="col-lg-12 col-md-12 text-center">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                      <h3><%= @faqs[8].question%></h3>
                      <p class="text-muted"><%= raw @faqs[8].answer%></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                      <h3><%= @faqs[9].question%></h3>
                      <p class="text-muted"><%= raw @faqs[9].answer%></p>
                    </div>
                </div>
              <div>
            </div>
        </div>
    </section>
<%= javascript_include_tag "scrollreveal" %>
<%= javascript_include_tag "home" %>
