<div class="panel panel-warning">
	<div class="panel-heading"><b>Change username</b></div>
	<div class="panel-body">
		<small>This change can be painful and break your applications.</small>
		<%= form_for @user, url: '/' + me.username + '/setting/account/username'  do |f| %>
			<div class="form-group">

				<%= div_for(@user, class: 'form-group col-lg-6') do %>
					<label>Username</label>
					<div>
						<%= f.text_field :username, class: 'form-control', placeholder: 'Username', value: me.username %>
					</div>
				<%end%>

				<%= div_for(@user, class: 'form-group col-lg-9') do %>
					<%= submit_tag 'Change', class: 'btn btn-warning' %>
				<%end%>

			</div>
		<%end%>
	</div>
</div>
