<div role="tabpanel" class="tab-pane<%if @in == ''%> active<%end%>" id="profile">
		<div class="panel-body">
			<div data-example-id="simple-table" class="bs-example">

				<%= form_for me, url: '/' + me.username + '/setting/profile'  do |f| %>
				<div class="form-group">
					<%= div_for(me, class: 'form-group col-lg-12') do %>
						<label>Picture</label>
						<div class="img-container">
							<%= image_tag(gravatar(me_user_email), size: "150x150", class: "img-circle") %>
						</div>
						<small>
							We are using
							<a target="_blank" href="http://gravatar.com">Gravatar</a>
							please update your photo there.
						</small>
					<% end %>

					<%= div_for(me, class: 'form-group col-lg-6') do %>
						<label>First Name</label>
						<div>
							<%= f.text_field :first_name, class: 'form-control' %>
						</div>
					<% end %>

					<%= div_for(me, class: 'form-group col-lg-6') do %>
						<label>Last Name</label>
						<div>
							<%= f.text_field :last_name, class: 'form-control' %>
						</div>
					<% end %>

					<%= div_for(me, class: 'form-group col-lg-6') do %>
						<label>Location</label>
						<div class="controls">
							<%= f.select :country_code, @countries.all.collect { |u| [u.name, u.code]}, include_blank: true, class: 'form-control' %>
						</div>
					<% end %>

					<%= div_for(me, class: 'form-group col-lg-6') do %>
						<label>Phone</label>
						<div>
							<%= f.text_field :phone, class: 'form-control' %>
						</div>
					<%end%>

					<%= div_for(me, class: 'form-group col-lg-12') do %>
						<label>Address</label>
						<div>
							<%= f.text_field :address, class: 'form-control' %>
						</div>
					<%end%>

					<br />
					<%= div_for(me, class: 'form-group col-lg-12') do %>
						<small>If you want to receive notification with the latest news by email.</small>
						<br />
						<label>
							<%= f.check_box :receive_notif_last_new %> Receive latest news by Email
						</label>
					<%end%>

					<%= div_for(me, class: 'form-group col-lg-9') do %>
						<%= submit_tag 'Save Profile', class: 'btn btn-primary' %>
					<%end%>
				</div>
				<% end %>
			</div>
		</div>
</div>
